*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*  متخليش البوردر والبادينج ياثرو في الويدث بتاع الديف */ 
}
body{
    font-family: 'PT Sans', sans-serif;
}

/* General */
root{
    --maincolor:#7b5244;
    --subcolor:#333;
}
.container{
    width: 80%;
    margin: auto
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-header{
    text-align: center;
padding: 40px;
}
.section-title{
    font-size: 30px;
    margin-bottom: 15px;
}
.line{
    display: block;
    width: 90px;
    height: 2px;
    margin: auto;
    background-color: #7b5244;
    transition: width .5s;
}
.section-header:hover .line{
    width: 150px;
}

/* Header */
header{
    padding: 30px 0;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content img {
    max-width: 170px;
    flex: 1;
}
.header-content nav{
    flex: 4;
    text-align: center;
}
.header-content nav ul li .link-item {
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    position: relative;
}
.header-content nav ul li .link-item:before ,
.header-content nav ul li .link-item:after
{
    position: absolute;
    content: "";
    width: 98%;
    height: 100%;
    top: 0;
    left: 0;
    border-width: 0 2px;
    border-color: #7b5244;
    border-style: solid;
    transform: scale3d(1,0,1);
    transition: transform .3s;
    
}
.header-content nav ul li .link-item:hover:before ,
.header-content nav ul li .link-item:hover:after
{
    transform: scale3d(1,1,1);
}
.header-content nav ul li .link-item:after{
    width: 100%;
    height: 91%;
    border-width: 2px 0;
    transform: scale3d(0,1,1);
    transition-delay: .2s;
    transform-origin: left;
}
.header-content .login{
    flex: 1;
    text-align: right;
}
.header-content ul li {
    display: inline-block;
}
.header-content ul li ,
.header-content ul li a{
    color:#333;
}
.header-content .login ul li:last-child i{
    position: relative;
    padding-right: 10px;
}
.header-content .login ul li:last-child i:after{
    content: "0";
    position: absolute;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    bottom: 0;
    right: 0px;
    padding: 5px;
    font-size: 10px;
}

/* media for header */
@media only screen and (max-width : 1025px){
    .header-content nav ul li .link-item {
        font-size: 18px;
        padding: 10px 2px;
    }
    .header-content img {
        max-width: 100px;
    }
}

@media only screen and (max-width : 845px){
    .header-content nav ul li .link-item {
        font-size: 12px;
        padding: 10px 2px;
    }
    .header-content img {
        max-width: 58px;
    }
    .fa-2x {
        font-size: 1em;
    }
    .header-content .login ul li:last-child i::after{
        padding: 3px;
        font-size: 9px;
    }
}

@media only screen and (max-width : 510px){
    .header-content ul li, .header-content ul li a {
        display: block;
    }
}
/* dropdown */ 
/* .dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    width:400px;
    border: 2px solid #7b5244;
    padding: 15px;
    margin-top: 30px;
    background-color: #fff;
    transform: scale(0,0);
    transition: transform .5s;
}
.dropdown:hover .dropdown-menu{
    transform: scale(1,1);
}
.dropdown-menu ul{
    display: table-cell;
    text-align: left;
}
.dropdown-menu ul li:first-child a {
    display: block;
    border-bottom: 1px dotted #7b5244;
    margin-bottom: 10px;
}
.dropdown-menu ul li{
    line-height: 1.7;
} */
/* slider */
.slider {
    position: relative;
}
section.slider img {
    max-width: 100%;
    margin-bottom: -25px;
}
.bollets{
    text-align: center;
}
.bollets li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #080;
    margin: 10px 2px;
    border-radius: 50%; 
}
.bollets li.active{
    background-color: #333;
}
.bollets li:hover{
    background-color: #6195ff;
}
/* category */
.category{
    margin-bottom: 25px;
}
.category-items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    position: relative;
}
.category-item img{
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.category-item-subtitle{
    color: gray;
    font-weight: normal;
}
.category-item{
    position: relative;
}
.category-item .icon{
    width: 30px;
    height: 30px;
    background-color: #7b5244;
    color: #fff;
    text-align: center;
    display: block;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}
.category-item:hover .icon{
    visibility: visible;
    opacity: 1;
}


/* media for category */
@media only screen and (max-width : 816px){
    .category-items{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width : 460px){
    .category-items{
        grid-template-columns: auto ;
    }
}
/* discount */
.discount{
    margin: 70px 0;
    display: flex;
}
.discount-des{
    flex: 2;
    background-color: #f7f3ef;
    padding: 20px;
    position: relative;
}
.discount-des .top{
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px;
}
.discount-des .top .icon{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 50px;
    color: #BDA291;
}
.discount-des .top + p{
    line-height: 1.7;
}
.discount-item{
    flex: 1;
    height: 300px;
    padding: 10px;
    position: relative;
}
.discount-lines{
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.discount-lines span{
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #BDA291;
    margin-left: 10px;
    
}
.discount-item:nth-child(2){
    background-image: url(../images/cms-banner-1.jpg);
    background-size: cover;
    margin: 0 20px;
}
.discount-item:nth-child(3){
    background-image: url(../images/cms-banner-2.jpg);
    background-size: cover;
}
.discount-item-info {
    position: absolute;
    top: 26px;
    left: 33px;
}
.discount-item-info h3 {
    font-weight: normal;
    color: #BDA291;
}
.discount-item-info h2{
    font-size: 20px;
}

/* media for discount */
@media only screen and (max-width : 819px){
    .discount-des .top .icon{
        font-size: 38px;
    }
    .discount-des .top + p {
        font-size: 12px;
    }
    .discount-item-info {
        top: 12px;
        left: 14px;
    }
    discount-item-info h2 {
        font-size: 16px;
    }
}
@media only screen and (max-width : 585px){
    .discount-des .top .icon {
        font-size: 28px;
    }
    .discount-des .top + p {
        font-size: 10px;
    }
    .discount-lines span{
        width: 25px;
    }
    .discount-lines{
        bottom: 10px;
        right: 23px;
    }
    discount-item:nth-child(2) {
        margin: 0px 7px;
    }
    .discount-item-info {
        top: 14px;
        left: 5px;
    }
    .discount-item-info h2,.discount-item-info h3 {
        font-size: 10px;
    }
    .discount-title, .discount-subtitle{
        font-size: 13px;
    }
}

/* sprites */
.sprites{
    display: flex;
    margin-top: 70px ;
    margin-bottom: 55px;
}
.sprites-item{
    flex: 1;
    text-align: center;
    border-right: 1px solid #BDA291;
}
.sprites-item:last-child{
    border: 0;
}
.sprites-icon {
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
    transition: all .5s;
}
.sprites-icon-1{
    background-position:  center 5px;
    
}
.sprites-item:hover .sprites-icon-1{
    background-position:  center -86px;
}
.sprites-icon-2{
    background-position:  center -177px;
}
.sprites-item:hover .sprites-icon-2{
    background-position:  center -273px;
}
.sprites-icon-3{
    background-position:  center -358px;
}
.sprites-item:hover .sprites-icon-3{
    background-position:  center -455px;
}
.sprites-icon-4{
    background-position:  center -543px;
}
.sprites-item:hover .sprites-icon-4{
    background-position:  center -639px;
}
.sprites-icon-5{
    background-position:  center -728px;
}
.sprites-item:hover .sprites-icon-5{
    background-position:  center -826px;
}
.sprites-info h3{
    font-size: 17px;
}
.sprites-info span{
    color: gray;
}

/* media for sprites  */

@media only screen and (max-width : 560px){
    .sprites-info h3 , .sprites-info span{
        font-size: 10px;
    }
}

/* products */
.list-products{
    display: flex;
    justify-content: center;
}
.list-products li{
    margin: 10px 20px;
}
.products-img{
    position: relative;
}
.products-img img{
    width: 100%;
}
.products-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform .2s;
    opacity: .9;
}
.products-overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.products-overlay ul li {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #9B8476;
    text-align: center;
}
.products-overlay ul li i{
    color: #fff;
    line-height: 40px;
    
}
.products-item:hover .products-overlay {
    transform: scaleX(1);
}
.products-items{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 20px;
    margin: 30px 0;
}
.products-item .products-info i.active{
    color: yellow;
}
.products-info span{
    display: block;
    margin: 5px 0;
    
}
.products-info i {
    margin-top: 10px;
}

/* media for products */
@media only screen and (max-width : 600px){
    .list-products li {
        font-size: 12px;
    }
    .products-items{
        grid-template-columns: auto ;
    }
} 

@media only screen and (max-width : 500px){
    .list-products li {
        margin: 11px 6px;
        font-size: 12px;
    }
    .products-items{
        grid-template-columns: auto ;
    }
}